<div id="homepage-header">
    <div id="logo"> IT </div>
    <h1>The Indore Times</h1>
    <h6> ~ <%= Article.public_count%> articles and counting  </h6>
</div>
<div id="homepage-body">
    <div id="homepage-aside1">
        <div id="homepage-aside1-header">
            <h2> Browse your favorite category : </h2>
        </div>
        <a href="/articles?key=Trending"><div class="category"><h3>Trending</h3></div></a>
        <a href="/articles?key=Entertainment"><div class="category"><h3>Entertainment</h3></div></a>
        <a href="/articles?key=Business"><div class="category"><h3>Business</h3></div></a>
        <a href="/articles?key=Technology"><div class="category"><h3>Technology</h3></div></a>
        <a href="/articles?key=International"><div class="category"><h3>International </h3></div></a>
        <a href="/articles?key=Share Market"><div class="category"><h3>Share Market</h3></div></a>
        <a href="/articles?key=Matrimonials"><div class="category"><h3>Matrimonials</h3></div></a>
        <a href="/articles?key=Horoscope"><div class="category"><h3>Horoscope</h3></div></a>
        <a href="/articles?key=Health"><div class="category"><h3>Health</h3></div></a>
    </div>
    <div id="homepage-aside2">

    </div>
</div>

<h3 style="text-align:center"> Made with <3 in India </h3>
<h4 style="text-align:center; margin:0.5rem"> &copy; 2023 All rights reserved</h4>


